## Covid19 Prediction Project

#### Data Files:
    • Daily US Report - From 04/12/2020 to 08/31/2020
    • Time Series US

In [1]:
#importing libraries 
import pandas as pd
import numpy as np

### Load Data

In [2]:
time_series_covid19_deaths_US_df = pd.read_csv("data/time_series/time_series_covid19_deaths_US.csv", engine="python")
time_series_covid19_confirmed_US_df = pd.read_csv("data/time_series/time_series_covid19_confirmed_US.csv", engine="python")
time_series_covid19_confirmed_US_df_copy = time_series_covid19_confirmed_US_df.copy() 
time_series_covid19_deaths_US_df_copy = time_series_covid19_deaths_US_df.copy()
time_series_covid19_deaths_US_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20,10/19/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,28,28,28,28,28,28,28,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,65,65,65,65,66,66,67,67,67,67
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,12,12,12,12,13,13,13,13,13,13
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,16,16,16,16,23,23,23,23,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,1,1,1,1,1,1,1,1,1,1
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,2,2,2,2,2,2,2,2,2,2
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,1,1,0,0,0,0,0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,6,6,6,7,7,7,7,7,7,7
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,0,0,0,0,0,0,0,0,0,0

#### Dropping undesired dates
We only care from 04/12/2020 to 08/31/2020

In [4]:
# drop undesired dates after 8/31/2020
time_series_covid19_deaths_US_df_copy = time_series_covid19_deaths_US_df_copy[time_series_covid19_deaths_US_df_copy.columns.drop(list(time_series_covid19_deaths_US_df_copy.filter(regex= '([9]|1[012])[/]([1-9]|[12][0-9]|3[01])[/](20)')))]
time_series_covid19_confirmed_US_df_copy = time_series_covid19_confirmed_US_df_copy[time_series_covid19_confirmed_US_df_copy.columns.drop(list(time_series_covid19_confirmed_US_df_copy.filter(regex= '([9]|1[012])[/]([1-9]|[12][0-9]|3[01])[/](20)')))]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1264,1266,1286,1286,1281,1284,1296,1309,1345,1348
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4037,4069,4083,4100,4166,4199,4230,4307,4402,4422
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,626,629,633,628,616,614,620,624,628,628
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,503,510,510,511,513,515,517,523,533,535
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,931,934,946,967,968,979,983,1004,1025,1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,401,409,409,412,417,417,424,425,429,430
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,283,283,283,283,289,289,292,292,295,298
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,53,53,73,73,73
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,107,108,108,108,108,108,108,108,108,108
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,11,11,11,11,11,11,11,11,11,11